.A
{
    background-color: aqua;
}
.B
{
    background-color:blue;
}
.C
{
    background-color:blueviolet;
}
.D
{
    background-color:yellow ;
}
.one
{
font-size: 30px;
width: 20px;
margin: 20px;
padding: 20px;
}
.two
{
font-size: 60px;
width: 20px;
margin: 20px;
padding: 20px;
}
.three
{
font-size: 50px;
width: 20px;
margin: 20px;
padding: 20px;
}
.four
{
font-size: 40px;
width: 20px;
margin: 20px;
padding: 20px;
}

